@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

:root{
    --primary-color: #22d3ee;
}

body {
    font-family: 'Montserrat', sans-serif;
}

hr{
    margin: 2rem 0px;
}

/* container  */

.container {
    padding-left: 1 rem;
    padding-right: 1 rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
    /* display: flex;
    justify-content: center; */
}

/* links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
}

.link-primary{
    background-color: var(--primary-color);
    color: white;
}

.link-secondary{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

